<div class="container">
    <h1>Bem vindo!</h1>
    <h2>Para fazer um pedido, faça login abaixo.</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

        <div class="form-group">
            <label for="cpf">CPF</label>
            <input id="cpf" name="cpf" type="text" class="form-control"
            [(ngModel)]="model.cpf" #cpfState="ngModel" required minlength="11" validCpf>
            <div *ngIf="!cpfState.pristine && !cpfState.valid" class="alert alert-danger">
                CPF inválido
            </div>
        </div>

        <div class="form-group">
            <label for="senha">Senha</label>
            <input id="senha" name="senha" type="password" class="form-control" 
            [(ngModel)]="senha" #senhaState="ngModel" required minlength="6">
            <div *ngIf="!senhaState.pristine && !senhaState.valid" class="alert alert-danger">
                <div *ngIf="senhaState.errors.required">
                    Senha é obrigatória
                </div>
                <div *ngIf="senhaState.errors.minlength">
                    Senha precisa ter no mínimo 6 caracteres
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" id="password" name="password" [(ngModel)]="model.password">
        </div>
            
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <br>
    <p>Caso ainda não tenha um login, você pode se registrar <a href="/signup">aqui</a>.</p>
    <p>Você também pode <a href="/order">fazer um pedido sem login</a>.</p>
</div>