<div class="container">
    <h1>Registrar</h1>
    <h2>Para registrar um login, preencha os campos abaixo</h2>
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">

        <div class="form-group">
            <label for="name">Nome</label>
            <input id="name" name="name" type="text" class="form-control"
            [(ngModel)]="model.name" #nameState="ngModel" required>
            <div *ngIf="!nameState.pristine && !nameState.valid" class="alert alert-danger">
                Nome é obrigatório
            </div>
        </div>

        <div class="form-group">
            <label for="cpf">CPF</label>
            <input id="cpf" name="cpf" type="text" class="form-control"
            [(ngModel)]="model.cpf" #cpfState="ngModel" required minlength="11" validCpf>
            <div *ngIf="!cpfState.pristine && !cpfState.valid" class="alert alert-danger">
                <div *ngIf="cpfState.errors.required">
                    CPF é obrigatório
                </div>
                <div *ngIf="cpfState.errors.invalid">
                    CPF inválido
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" class="form-control"
            [(ngModel)]="model.email" #emailState="ngModel" required email>
            <div *ngIf="!emailState.pristine && !emailState.valid" class="alert alert-danger">
                Email inválido
            </div>
        </div>

        <div class="form-group">
            <label for="senha">Senha</label>
            <input id="senha" name="senha" type="password" class="form-control" 
            [(ngModel)]="senha" #senhaState="ngModel" required minlength="6">
            <div *ngIf="!senhaState.pristine && !senhaState.valid" class="alert alert-danger">
                <div *ngIf="senhaState.errors.required">
                    Senha é obrigatória
                </div>
                <div *ngIf="senhaState.errors.minlength">
                    Senha precisa ter no mínimo 6 caracteres
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <input type="hidden" id="password" name="password" [(ngModel)]="model.password">
        </div>
            
        <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">Login</button>
    </form>
</div>